jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: "practice-app"
      DOCKER_REPO: "maizmazin"
      TAG: "${{ github.run_number }}"

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Build Docker Image
        run: |
          docker build -t $DOCKER_REPO/$IMAGE_NAME:$TAG .
          echo "Image built and tagged as $DOCKER_REPO/$IMAGE_NAME:$TAG"

      - name: Push Docker Image
        run: |
          docker push $DOCKER_REPO/$IMAGE_NAME:$TAG
          echo "Image pushed to Docker Hub as $DOCKER_REPO/$IMAGE_NAME:$TAG"

      # Install Docker Compose
      - name: Install Docker Compose
        run: |
          sudo curl -L "https://github.com/docker/compose/releases/download/$(curl -s https://api.github.com/repos/docker/compose/releases/latest | grep tag_name | cut -d '"' -f 4)/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose
          docker-compose --version

      # Deploy with Docker Compose
      - name: Deploy with Docker Compose
        env:
          DOCKER_REPO: ${{ env.DOCKER_REPO }}
          IMAGE_NAME: ${{ env.IMAGE_NAME }}
          TAG: ${{ env.TAG }}
        run: |
          docker-compose down
          docker-compose up -d
          echo "Deployment completed"
